<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원 가입</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
<h1>회원 가입 폼</h1>

<div class="container">
    <form action="/register" method="post" onsubmit="return valid()">
        <div class="form-group">
            <label for="name">이름</label>
            <input type="text" id="name" name="name" required>
            <br>
            <label for="id">아이디</label>
            <input type="text" id="id" name="id" required>
            <button type="button" onclick="sameCheck()">중복확인</button>
            <br>
            <label for="nickname">닉네임</label>
            <input type="text" id="nickname" name="nickname" required>
            <button type="button" onclick="samenickCheck()">중복확인</button>
            <br>
            <label for="password">비밀번호</label>
            <input type="password" id="password" name="password" required>
            <br>
        </div>
        <button type="submit">가입하기</button>
    </form>
    <form method="get" th:action ="@{/}">
        <div class="form-group">
            <button type="submit">취소</button>
        </div>
    </form>
</div>

</body>
<script>
    let submitCheck = false;
    let nickCheck = false;

    function valid() {
        if (submitCheck && nickCheck) {
            return true;
        } else if (submitCheck && !nickCheck) {
            alert('닉네임 중복확인을 해주세요.');
            return false;
        } else if (!submitCheck && nickCheck) {
            alert('아이디 중복확인을 해주세요.');
            return false;
        } else {
            alert('닉네임 중복확인을 해주세요.');
            return false;
        }
    }
    function sameCheck() {
        let id = $('#id').val()

        $.ajax({
            type: "get",
            url: "/IDCheck?id=" + id
        }).done((res) => {
            if (res.data === true) {
                alert(res.msg);
                submitCheck = true;
            } else {
                alert(res.msg);
                submitCheck = false;
            }

        }).fail((err) => {
            console.log('상태코드 200밖에 없어서 실행 안됨')
        });
    }

    function samenickCheck() {
        let nickname = $('#nickname').val()

        $.ajax({
            type: "get",
            url: "/NicknameCheck?nickname=" + nickname
        }).done((res) => {
            if (res.data === true) {
                alert(res.msg);
                nickCheck = true;
            } else {
                alert(res.msg);
                nickCheck = false;
            }

        }).fail((err) => {
            console.log('상태코드 200밖에 없어서 실행 안됨')
        });
    }
</script>
</html>
