<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>detailPage</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>

<div class="container">
    <a th:href="@{/}" class="btn btn-primary">홈 화면으로</a>
    <a th:href="@{/articles/}" class="btn btn-primary">게시글 목록</a>
    <h2>게시글 상세페이지</h2>
    <p>제목 : <span th:text="${article.title}"></span></p>
    <p>작성자 : <span th:text="${article.user.nickname}"></span></p>
    <hr>
    <p>내용 : <span th:text="${article.content}"></span></p>
    <div>
        <a th:if="${user != null && user.id == article.user.id}" href="@{/articles/update/{id}(id=${article.id})}">수정하기</a>
        <a th:if="${user != null && user.id == article.user.id}" href="@{/articles/delete/{id}(id=${article.id})}">삭제하기</a>
    </div>

    <div th:if="${user != null}">
        <form th:action="@{/comments/create}" method="post">
            <input type="hidden" name="articleId" th:value="${article.id}">
            <textarea name="content" placeholder="댓글을 입력하세요"></textarea>
            <button type="submit">댓글 작성</button>
        </form>
    </div>
    <div th:if="${user == null}">
        <form th:action="@{/login}" method="get">
            <input type="hidden" name="articleId" th:value="${article.id}">
            <textarea name="content" placeholder="댓글 작성은 로그인 후 가능합니다."></textarea>
            <button type="submit">댓글 작성</button>
        </form>
    </div>
    <div th:if="${comments.isPresent()}">
        <h3>댓글 목록</h3>
        <table>
            <thead>
            <tr>
                <th>작성자</th>
                <th>내용</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="comment : ${comments.get()}">
                <td th:text="${comment.user.nickname}"></td>
                <td th:text="${comment.content}"></td>
                <td th:if="${user != null && user.id == comment.user.id}">
                    <a th:href="@{/comments/update/{id}(id=${comment.id})}">수정</a>
                    <a th:href="@{'/comments/delete/' + ${article.id} + '-' + ${comment.id}}" onclick="confirmDelete('@{&quot;/comments/delete/&quot; + ${article.id} + &quot;-&quot; + ${comment.id}}')">삭제</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
<script>
    function confirmDelete(deleteUrl) {
        if (confirm("댓글을 삭제하시겠습니까?")) {
            window.location.href = deleteUrl;
        }
    }
</script>

</html>
